[Unit]
Description=Guacamole proxy daemon (guacd) for rustguac
After=network.target

[Service]
Type=simple
User=rustguac
ExecStart=/opt/rustguac/sbin/guacd -b 127.0.0.1 -l 4822 -L info -f -C /opt/rustguac/tls/cert.pem -K /opt/rustguac/tls/key.pem
Restart=on-failure
RestartSec=5
Environment=LD_LIBRARY_PATH=/opt/rustguac/lib

[Install]
WantedBy=multi-user.target
